* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
:root {
    --main-color: #ffffff;
    --primary-text-color: #000000;
    --secondary-text-color: rgb(69, 0, 81);
    --secondary-color: #700f79;
    --tertiary-color: rgb(101, 44, 122);
    -webkit-box-shadow: inset 10px 10px 160px 0px rgba(112, 15, 121, 0.37);
    -moz-box-shadow: inset 10px 10px 160px 0px rgba(112, 15, 121, 0.37);
    box-shadow: inset 10px 10px 160px 0px rgba(112, 15, 121, 0.37);
}
/* padronizado */
.botaop {
    transition: 0.4s;
    background-color: var(--main-color);
    color: var(--primary-text-color);
}

.botaop:hover {
    background-color: var(--secondary-color);
    color: aliceblue;
}

.img-fluid {
    height: 400px;
    width: auto;
}

.teste-img {
    height: 110px;
    text-align: center;
    align-items: center;
}

/* HEADER index */
#header {
    min-height: 90vh;
    background-image: url("../Img/Catedral_Santiago.jpg");
    background-size: cover;
    background-position: center;
    color: var(--main-color);
    margin: -10px 0px 50px;
    position: relative;

}

#headerdestino {
    min-height: 90vh;
    background-image: url("../Img/BuziosPraia.jpg");
    background-size: cover;
    background-position: center;
    color: var(--main-color);
    margin: -10px 0px 50px;
    position: relative;
}

.container-fluid {
    color: var(--main-color);
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-evenly;

}

#pesquisa {
    background-image: url(../Img/localização.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.7rem;
    padding-left: 1.5rem;
}

#data {

    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.7rem;
    padding-left: 1.5rem;
}

#pessoas {
    background-image: url(../Img/pessoas.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.7rem;
    padding-left: 1.5rem;
}


.nav-link,
t,
active {
    color: var(--main-color);
    font-size: x-large;

}

.t:hover {
    transition: 0.4s;
    color: var(--primary-text-color) !important;
}

.navigation-bar {
    background-color: rgba(101, 44, 122, 0.651);
    color: white;
    padding: 10px;
    margin: 10%;
    gap: 15vh;
    opacity: 80%;
    border-color: #450051;
}

.navigation-bar,
button,
button,
select,
input,
option {

    background-color: rgba(255, 255, 255, 0.986);
    color: black;
    cursor: pointer;
    border-radius: 17px;
    text-align: center;
    margin: 1%;
    border-color: #700f79;

}

#texto-logo {
    color: var(--main-color);
    padding: 2%;
    margin: 20px 0px;
}

.pesquisa input,
button {
    padding: 5px;
    border: 4px solid var(--secondary-text-color);
    

}

.carousel-inner {
    width: 67%;
    margin: auto;
}

/* rodapé */
#footerdestino {
    color: var(--main-color);
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 3rem 1rem;
}

#footerdestino a {
    color: var(--main-color);
    text-decoration: none;
}

.networks {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 60px !important;

}

#logoRodape {
    width: 42%;
    align-items: center;
    margin: 20%;

}

/* cards pequenos */

.slider-container {
    position: relative;
    overflow-x: hidden;
    height: 250px;
}

.slider-width {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}

.item {
    background: rgb(101, 44, 122);
    width: 450px;
    height: 250px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.itemDestino {
    width: 450px;
    height: 250px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(101, 44, 122);

}

.btn {
    background: var(--secondary-color);
    border: var(--primary-text-color);
    outline: none;
    color: #ffffff;
    font-size: 20px;
    margin: 20px;
    padding: 6px 12px;
    cursor: pointer;
    left: 500%;
    transform: translate(-50%);

}

.btn:nth-child(1) {
    margin-left: -74px;
}

/* inicio login */

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#login-form {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 32px 42px;
    border-radius: 8px;
    gap: 32px;
    box-shadow: 0px 1px 8px 1px var(--secondary-color);
    height: fit-content;
    align-items: center;
}

#form-header {
    display: flex;
    align-items: center;
    gap: 64px;
}


#login {
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
}

#login::before {
    position: absolute;
    content: '';
    width: 100%;
    background-color: var(--primary-text-color);
    height: 3px;
    bottom: -4px;
}

#cadastro {
    position: relative;
    text-decoration: none;
    color: #000;
}

#cadastro:hover {
    transition: 0.2s;
    color: var(--primary-text-color);
}

#inputs {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.input-box label {
    font: 16px;
    color: var(--primary-text-color);

}

.input-space {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
    cursor: text;
    border-bottom: 1px solid var(--primary-text-color);
}

.input-space i {
    font-size: 20px;
    color: var(--primary-text-color);
}

.input-space input {
    border: none;
    background-color: transparent;
    width: 256px;
    font-size: 20px;
    padding: 0px 4px;
}

.input-space input:focus {
    outline: none;
}

div i {
    cursor: pointer;
}

#esqueceu-senha {
    display: flex;
    justify-content: center;
}

#esqueceu-senha a {
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 16px;
    color: var(--primary-text-color);
}

#esqueceu-senha a:hover {
    transition: 0.3s;
    color: var(--secondary-color);
}

#login-button {
    gap: 2px;
    border: none;
    box-shadow: 0px 1px 4px 1px var(--secondary-color);
    padding: 7px;
    border-radius: 4px;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 60%;
}

#login-button:hover {
    background: var(--secondary-color);
    transition: 0.4s;
    transform: scale(1.1);
}

#login-anchor {
    text-decoration: none;
    color: var(--primary-text-color);
}

#logo {
    gap: 2%;
    margin-bottom: 2%;

}

#form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* promoções */
/* header  */
header {
    margin: -10px 0px 50px;
    position: relative;
    -webkit-box-shadow: -4px -1px 9px 1px rgba(112, 15, 121, 1);
    -moz-box-shadow: -4px -1px 9px 1px rgba(112, 15, 121, 1);
    box-shadow: -4px -1px 9px 1px rgba(112, 15, 121, 1);
}

/* carrousel promoçoes */
head {
    margin-bottom: 50px;
    -webkit-box-shadow: -4px -1px 9px 5px rgba(190, 66, 204, 1);
    -moz-box-shadow: -4px -1px 9px 5px rgba(190, 66, 204, 1);
    box-shadow: -4px -1px 9px 5px rgba(190, 66, 204, 1);
}

.about-area,
#about-area {
    margin: 20px;
}



.f {
    height: 20%;
    width: 19%;
    margin: 0px 4px 0px -10px;

}

/* cadastro */
#logocadastro {
    height: 10%;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.bodycadastro {
    width: 70%;
    margin: auto;
    background: var(--main-color);
    color: var(--primary-text-color);

}

/* destino */
.containerC {
    margin: auto;
    padding: auto;
    height: 100%;
    width: 90%;
    -webkit-box-shadow: -2px 0px 20px 5px rgba(143, 5, 156, 1);
    -moz-box-shadow: -2px 0px 20px 5px rgba(143, 5, 156, 1);
    box-shadow: -2px 0px 20px 5px rgba(143, 5, 156, 1);
}

#cardc {
    float: left;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 668px) {

    .botaop {
        width: 150px;
        height: 30px;
       
        align-items: center;
        font-size: 100%;
        text-align: center;

    }
    .pesquisa input,
    button {
        display: flex;
        height: 40px;
        text-align: center;
        

    }
}