* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.son {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;

}

.button {
    display: flex;
    flex: auto;
    border-radius: 30px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;
    list-style: none;

}


.lista1 {
    position: relative;
    width: 150px;
    text-align: center;
    border: 2px;
    box-shadow: rgba(99, 87, 87, 0.56) 0px 22px 70px 4px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 10px;
    padding: 12px;
    border-radius: 20px;

}

.place {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}


.pesquisa {
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    text-align: center;


}

.button li:hover {
    transition: background 1s;
    font-family: 'Arvo', serif;
    background-color: rgb(0, 0, 0);
    border: 3px solid white;

}

.lista1:hover {
    transition: background 1s;
    font-size: 150%;

}

.pesquisa:hover {
    font-size: 120%;
}

.btn-success:hover {
    font-size: 150%;
}

.texto {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
}

/* ate aqui foi meu head*/
h2 {

    color: rgb(0, 0, 0);
    text-align: center;
}

h3 {
    text-align: center;
    color: #000000;
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Arvo', serif;
    font-size: medium;
    width: 100%;
    text-align: center;


}

.imgPrincipal {
    box-shadow: rgba(0, 0, 0, 0.918) 0px 22px 70px 4px;
    width: 99%;
    background-image: url(../Img/rio\ de\ janeiro.jpeg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 20px;

}

img {
    object-fit: fill;
    width: 100%;
    border-radius: 20px;
}

.card {

    box-shadow: rgba(0, 0, 0, 0.212) 0px 22px 70px 4px;
}

/* cards deitado */
#about-area {
    background-color: #44444421;
}

.card-title {
    text-align: center;
}

.main-title {
    background-color: #44444457;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {

    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#about-li,
.fas,
.fa-check,
.direita {
    text-align: right;
    list-style: none;

}

#about-list {
    list-style-type: none;
    padding-left: 0;
}

/* rodapé */
.rodape {
    background-color: #aca9a873;
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    text-align: center;
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
}


.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;

}


.rodape-direitos {
    width: calc(100% - 20px);
    background-color: rgb(119, 119, 119);
    padding: 10px;

    text-align: center;
}

#ro {
    flex-direction: row-reverse;

}


.favicon {
    text-align: end;
    height: 10%;
    width: 10%;

}