* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;


}

.container {
  display: flex;
  position: fixed;
  width: 100%;
}

.image {
  position: fixed;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url(../Img/tournovo.jpg);

  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* menu dentro da img */


.btn .btn-info {
  flex-wrap: wrap;
  align-content: space-between;
  text-decoration: none;
  margin: 100px;
  */
}

b {
  width: 100px;
  margin: 200px;
  border: 1px solid black;
  text-decoration: none;
}

.container2 {
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  text-decoration: none;
  width: 12%;
}

.red {
  width: 12%;
  align-self: center;

}

h1 {
  font-family: Arial, Helveti;
  color: rgb(0, 0, 0);
  padding: 15px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}