* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color:#ffffff;  
    --primary-text-color: #000000;
    --secondary-text-color: #450051;
    --secondary-color: #700f79;
    --tertiary-color: rgb(101, 44, 122);
}

/* HEADER */

.container-fluid  {
    
    color:var(--main-color);
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-evenly;
    

}  
.nav-link ,t ,active{
    color: var(--main-color);
    font-size: x-large;

}
.t:hover {
    
    color: var(--primary-text-color)!important;

}
.navigation-bar {
    background-color: rgb(101, 44, 122); /* Cor de fundo atualizada */
    color: white;
    padding: 10px;
}

.navigation-bar select, .navigation-bar input[type="date"], .navigation-bar input[type="number"], .navigation-bar button {
    margin-right: 10px;
}


.navigation-bar button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}















/* rodapé */
#footerdestino{
    color:var(--main-color);
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 3rem 1rem; 
}
#footerdestino a {
    color: var(--main-color);
    text-decoration: none;
}
.networks {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
#logoRodape{
   width: 50%;
   align-items: center;
   margin: 20%;
   
}